<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="{{ "/assets/js/lib/require.js" | relative_url }}"></script>
	<script>
    requirejs.config({
        baseUrl: '/assets/js',
        paths: {
            jquery: 'lib/jquery',
            randomColor: 'lib/randomColor.min'
        }
    });
    requirejs.onError = function (err) {
        console.warn("module loding error (requirejs): switching to no-js version.");
        document.documentElement.classList.remove("js");
        document.documentElement.classList.add("no-js");
        throw err;
    };
    document.documentElement.classList.remove("no-js");
    document.documentElement.classList.add("js");
	</script>
	<script>
    var randomColor = require(['randomColor', 'cookie'], function(randomColor, CookieController){
      var COOKIE_NAME = "site-color-seed";
      var seed = parseInt(CookieController.getCookie(COOKIE_NAME));
      if(!seed){
        seed = Math.floor(Math.random()*1000); // 1000 seed values
        CookieController.setCookie(COOKIE_NAME, seed, 24);
      }
      var color = randomColor({luminosity: 'dark', format: 'rgb', seed: seed});
      document.documentElement.style.setProperty('--highlight-color-strong', color);
      document.documentElement.style.setProperty('--highlight-color', color.replace(')', ', 0.5)').replace('rgb', 'rgba'))
      var canvas = document.createElement('canvas');
        canvas.width = 32;
        canvas.height = 32;
        var ctx = canvas.getContext('2d');
        var img = new Image();
        img.src = '/assets/img/circle.png';
        img.onload = function() {
            var centerX = canvas.width / 2;
            var centerY = canvas.height / 2;
            var radius = 10;

            ctx.beginPath();
            ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
            ctx.fillStyle = color;
            ctx.fill();

            var link = document.createElement('link');
            link.type = 'image/x-icon';
            link.rel = 'shortcut icon';
            link.href = canvas.toDataURL("image/x-icon");
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    });
  </script>
  <!-- <link rel="icon" href="/assets/img/circle.png"> -->
	<link href='https://fonts.googleapis.com/css?family=Eczar:400,500' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
