{{ define "main" }}
  <article class="page">

    {{ with .Content }}
      <div class="page-content">
        {{ . }}
      </div>
    {{ end }}

    {{ $pages := .RegularPages }}
    {{ if gt (len $pages) 0 }}
      <section class="list">
        {{ range $pages.ByWeight.ByDate.Reverse }}
          <article class="list-item">
            <h2 class="list-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Params.description }}<p class="list-item-meta">{{ . }}</p>{{ end }}
            {{ with .Date }}<p class="list-item-meta">{{ .Format "2 Jan 2006" }}</p>{{ end }}
          </article>
        {{ end }}
      </section>
    {{ end }}
  </article>
{{ end }}