* {
  padding: 0;
  margin: 0;
}

:root {
  --highlight-color-strong: rgb(214, 8, 125);
  --highlight-color: rgb(214, 8, 125, .5);
}

::-moz-selection {
    color: #000;
    background: var(--highlight-color);
}
::selection {
    color: #000;
    background: var(--highlight-color);
}

/* media query chaning on mobile root-em at the bottom */

body {
  padding: 4em 4em;
  font-family: "Eczar", Georgia, Times, serif;
  font-size: 20px;
  line-height: 36px;
  color: #888;
  max-width: 30em;
  margin: 0 auto;
  letter-spacing: 0.8px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-display: fallback;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0 0 2em 0;
  font-weight: 400;
  color: #000;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 0 2rem 0;
}

h2, h3, h4, h5, h6 {
  color: #888;
}

hr {
  border: 2px dotted #50E3C2;
  border: 2px dotted var(--highlight-color-strong);
  border-style: none none dotted;
  color: #fff;
  background-color: #fff;
  margin: 2em 0;
}

p, ul {
  margin: 0 0 2em 0;
}

.meta, .header {
  font-family: "Input Mono", "courier new", courier, monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  line-height: 1.8em;
  margin: 4rem 0rem;
}

.header {
  font-size: 0.6em;
  color: #aaa;
  margin-bottom: 0rem;
}
.header a, .header a:hover {
  color: #aaa !important;
  text-decoration: none;
  border-bottom: none !important;
}
.header a:hover {
  text-decoration: underline;
}

img+em, .meta, .header {

}

img {
  margin: 0 auto;
  max-width: 100%;
}

img+em {
  /*captions*/
  font-family: "Input Mono", "courier new", courier, monospace;
  font-size: 0.6em;
  font-style: normal;
  line-height: 1.5em;
  display: block;
  margin: 0.5rem 0em;
  letter-spacing: 0;
  font-weight: normal;
}

a, a:hover, a:checked, a:active {
  color: #000;
  text-decoration: none;
}

.text a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom: solid #50E3C2 3px;
  border-bottom: solid var(--highlight-color) 3px;
}

.click-through a.clicked, .click-through a:hover.clicked {
  color: #888;
  border-bottom: solid white 3px;
  cursor: default;
}

.no-js a {
  color: rgb(136, 136, 136);
  border-bottom: none;
  cursor: default;
}

a[href], .no-js a[href] {
  color: var(--highlight-color-strong);
  cursor: pointer;
}

a[href]:hover, .no-js a[href]:hover {
  border-bottom: dotted #50E3C2 3px;
  border-bottom: dotted var(--highlight-color) 3px;
}

.click-through span[id] {
  display: none;
}

span[id].on {
  display: inline;
}

div.on {
  display: block;
}

.on {
  animation: flash 0.5s;
}

span[id].off, .off {
  display: none;
}
.no-js .click-through span[id], .no-js span[id].off, .no-js .off {
  display: inline;
}
.no-js p.off {
  display: block;
}
.no-js #reset-text, .no-js #reset, .no-js .off-nojs, .no-js span[id].off-nojs  {
  display: none;
}

.hidden, .hidden * {
  display: none;
}

.reset-marker {
  font-family: "Input Mono", "courier new", courier, monospace;
  position: absolute;
  right: 4em;
  top: 4em;
  opacity: .5;
  animation: none;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.big-list li {
  list-style: none;
  position: relative;
  margin-bottom: 0.5em;
}

.big-list li a {
  font-size: 2em;
  font-weight: 500;
  position: relative;
  margin-right: 0.8em;
  line-height: 1.5em;
}

.big-list li span.no, .big-list li span.meta-info {
  font-family: "Input Mono", "courier new", courier, monospace;
  font-size: 0.9rem;
  color: #888;
}

.big-list li a span.no {
  position: absolute;
  width: 4em;
  left: -5em;
  bottom: 0;
  color: #888;
  text-align: right;
  font-weight: normal;
}

.big-list li a:hover span.no {
  color: #50E3C2;
  color: var(--highlight-color);
}

.big-list li span.meta-info {
  margin-top: -0.8em;
  display: block;
}

table.cv {
}
table.cv td {
  vertical-align: top;
  padding-bottom: 2em;
}
table.cv td:first-child {
  white-space: nowrap;
  padding-right: 2em;
}

@media only screen and (max-device-width: 480px) {
  .reset-marker {
    right: 1em;
    top: 3em;
  }
  body {
    font-size: 16px;
    line-height: 28px;
    padding: 3em;
    word-wrap: break-word;
  }
  img+em, .meta, .header {

  }
  .big-list li a span.no {
    width: 4em;
    left: -5em;
    display:none;
  }
  .big-list li span.no, .big-list li span.meta-info {
    font-family: "Input Mono", "courier new", courier, monospace;
    font-size: 0.7rem;
  }
  table.cv td {
    display: block;
    padding-left: 1em;
    padding-bottom: 2em;
  }
  table.cv td:first-child {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}
  }
}
