<!doctype html>
<html>
	<head> 
		<title>jelkoarnds.com</title>
		<meta name="viewport" content="width=device-width">
		<link rel="icon" href="/static/img/circle.png">
		<link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css'>
		<link type="text/css" href="/static/css/style.css" rel="stylesheet"></link>
		<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript">
			$(function() {
				$("p > a[name]").parent().next().toggleClass('hidden')
				$("p > a[name]").parent().toggleClass('hidden')
				$("p > a[href^='/#']").click(function(e) {
					$(document).find("p > a[name='" + $(this).attr("href").substring(2) + "']").parent().next().toggleClass('hidden')
					$(document).find("p > a[name='" + $(this).attr("href").substring(2) + "']").parent().toggleClass('hidden')
					e.preventDefault()
				})
			})
		</script>
	</head>
	<body>
		<!--<h1>{{ page.title }}</h1>-->
		{{ page.html }}
	</body>
</html>